:root {
  --font-family: "Rubik", sans-serif;
  --text-color: #48484a;
  --gray-color: #acacac;
}

.light-theme {
  --color-main-dark: #48484a;
  --color-main-light: #acacac;
  --color-main-light-second: #acacac;
  --color-main-bg: #e5e5e5;
  --color-side-bg: #ffffff;
  --bg-image: url("./assets/img/bg-clouds.png");
}

.dark-theme {
  --color-main-dark: #e6e6e6;
  --color-main-light: #acacac;
  --color-main-light-second: #6d6d6d;
  --color-main-bg: #100e1c;
  --color-side-bg: #212331;
  --bg-image: url("./assets/img/bg-clouds-dark.png");
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
aside,
nav,
footer,
header,
section {
  display: block;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1;
  font-family: var(--font-family);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: var(--font-family);
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
.dark-theme .slider:before {
  transform: translateX(32px);
}
.dark-theme .slider::before {
  background: url(./assets/img/icons/switch-dark.svg) center no-repeat;
}
.dark-theme .closeIcon path {
  fill: #e6e6e6;
}
